root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = ["serve"]
bin = "./tmp/pogo"
cmd = "go build -tags='nogui' -o ./tmp/pogo ."
delay = 1000
exclude_dir = ["tmp", "node_modules", "data"]
exclude_file = []
exclude_regex = [
    "_test\\.go$",
    "\\.sqlc\\.go$",
    "\\_templ\\.go$",
    "\\.pb\\.go$",
]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "sql", "proto", "templ", "css", "ts", "tsx"]
include_file = []
kill_delay = "1s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = ["just prebuild", "go install ."]
rerun = false
rerun_delay = 500
send_interrupt = true
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
silent = false
time = false

[misc]
clean_on_exit = false

[proxy]
app_port = 0
enabled = false
proxy_port = 0

[screen]
clear_on_rebuild = false
keep_scroll = true

